<h1>Editing sub_time</h1>

<%= render 'form' %>

<%= link_to 'Show', customer_task_sub_time_path(@customer, @sub_time.task, @sub_time) %> |
<%= link_to 'Back', summary_customer_tasks_path(@customer)%>
