<h1>Listing sub_times</h1>

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Task</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sub_times.each do |sub_time| %>
  <tr>
    <td><%= sub_time.start %></td>
    <td><%= sub_time.end %></td>
    <td><%= sub_time.task_id %></td>
  </tr>
<% end %>
</table>

<br />

