%h1
  Listing sub_times

%table
  %tr
    %th 
      Start
    %th
      End
    %th
      Task
    %th

  -@sub_times.each do |sub_time|
    %tr
      %td= sub_time.start.to_s(:db)
      %td= sub_time.end.to_s(:db)
      %td= sub_time.task_id
      %td= link_to 'edit', edit_customer_task_sub_time_path(@customer, sub_time.task, sub_time)

=link_to "Tasks", customer_tasks_path(@customer)
