=form_for([@customer, @new_task]) do |f| 
  %div{:class =>"field"}
    = f.label :name 
    %br
    = f.text_field :name, :autofocus => true
    = hidden_field_tag 'start' 
  
  %div{:class =>"actions"}
    = f.submit 
