%h1
  Listing customers

%table
  %tr
    %th Name
    %th

  -@customers.each do |customer|
    %tr
      %td
        = link_to customer.name, customer
      %td
        = link_to 'tasks', customer_tasks_path(customer)

%br

= link_to 'New Customer', new_customer_path 
