.body {
  font: 12px Arial; }

h2 {
  font: 16px Arial; }

.header {
  display: none; }

.new_task {
  display: none; }

.right-aligned {
  display: none; }

.button_to {
  display: none; }

table {
  border-collapse: collapse; }
  table td {
    border: 1px solid gray; }
