html {
  height: 100%; }

body {
  height: 100%;
  background: #282828;
  font-family: Helvetica;
  font-size: 13px;
  color: #282828; }

.header {
  margin: 10px 10%;
  background: white;
  padding: 5px 20px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .header a {
    color: #282828;
    text-decoration: none; }
    .header a:hover {
      color: black;
      text-decoration: underline; }
  .header .application_links {
    float: left; }
  .header .system_links {
    text-align: right; }

.container {
  margin: 0 10%;
  min-height: 100%;
  background: white;
  padding: 20px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

table {
  border: 1px solid #777777;
  border-collapse: collapse;
  width: 100%; }
  table tr {
    border: 1px solid #777777;
    border-collapse: collapse;
    text-align: left; }
    table tr:hover {
      background: #bbd7e4; }
  table th {
    background: #dddddd;
    padding: 5px; }
  table td {
    border-collapse: collapse;
    padding: 5px; }
  table td.name {
    width: 30%; }
  table .disabled {
    color: #bebebe; }
    table .disabled a {
      color: #bebebe; }
  table .running {
    color: black;
    background: #99e699; }

.gray {
  background: #dddddd; }

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px; }
  .ui-timepicker-div .ui-widget-header dl {
    text-align: left; }
    .ui-timepicker-div .ui-widget-header dl dt {
      height: 25px;
      margin-bottom: -25px; }
    .ui-timepicker-div .ui-widget-header dl dd {
      margin: 0 10px 10px 65px; }
  .ui-timepicker-div .ui-widget-header td {
    font-size: 90%; }

.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0; }

.right-aligned {
  text-align: right; }

.subtimes {
  border: none;
  font: 11px Helvetica;
  color: gray; }
