.header
  .application_links
    =link_to "customers", customers_path
    -tasks_link
    =link_to "reports", customer_reports_path(@customer)


  .system_links
    =link_to "signout", destroy_user_session_path, :method => :delete

%div{:style => "clear:both"}
