.header
  .application_links
    =link_to "customers", customers_path
    |
    =link_to "tasks", customer_tasks_path(@customer)


  .system_links
    =link_to "signout", destroy_user_session_path, :method => :delete

%div{:style => "clear:both"}
